<!--
/**
 * Copyright (C) 2019 KhronoSync Digital Solutions LLC
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <https://www.gnu.org/licenses/>
 */
-->
<!-- Nav bar -->
<div class="w3-bar an-theme-d2">
  <a class="w3-bar-item"
     href="/" >
    <img class="w3-card-4 w3-padding w3-round"
         src="/static/images/linux-delta-logo_ins.png"
         alt="Linux Delta"
         style="height: 80px; background-color: #d7e3f4"/>
  </a>
  {{if ne .Session.Username ""}}
  <form method="post" action="/logout">
    <input class="w3-bar-item w3-button w3-round w3-right w3-margin-top w3-margin-right an-theme-button"
           type="submit"
           value="Logout">
  </form>
  <span class="w3-bar-item w3-right w3-margin an-theme-d3">
      Logged in as: {{.Session.Username}}
    </span>
  {{end}}
</div>

<div class="w3-container">
  <a href="/reviews">
    <div class="w3-card w3-center w3-margin-right w3-col w3-round w3-mobile"
         style="display: table; width: 125px; height: 60px; background-color: #d7e3f4">
      <div class=""
           style="display: table-cell; vertical-align: middle">
        <img class="w3-row-padding"
             style="max-width: 125px; max-height: 60px;"
             src="/static/images/linux-delta-reviews-logo.svg"
             alt="Distro Reviews" />
      </div>
    </div>
  </a>
  <a href="https://wiki.linuxdelta.com">
    <div class="w3-card w3-center w3-margin-right w3-col w3-round w3-mobile"
         style="display: table; width: 125px; height: 60px; background-color: #d7e3f4">
      <div class=""
           style="display: table-cell; vertical-align: middle">
        <img class="w3-row-padding"
             style="max-width: 125px; max-height: 60px;"
             src="/static/images/linux-delta-wiki-logo_bl.svg"
             alt="Wiki" />
      </div>
    </div>
  </a>
  <a href="https://element.linuxdelta.com">
    <div class="w3-card w3-center w3-margin-right w3-col w3-round w3-mobile"
         style="display: table; width: 125px; height: 60px; background-color: white">
      <div class=""
           style="display: table-cell; vertical-align: middle">
        <img class="w3-row-padding"
             style="max-width: 125px; max-height: 60px;"
             src="/static/images/element-io.svg"
             alt="Element.io" />
      </div>
    </div>
  </a>
  <a href="http://asknoahshow.com/">
    <div class="w3-card w3-center w3-margin-right w3-col w3-round w3-mobile"
         style="display: table; width: 125px; height: 60px; background-color: #2d2d2d">
      <div class=""
           style="display: table-cell; vertical-align: middle">
        <img class="w3-row-padding"
             style="max-width: 125px; max-height: 60px;"
             src="/static/images/asknoah-horizontal-logo.png"
             alt="Telegram" />
      </div>
    </div>
  </a>
  <a href="https://patreon.com/linuxdelta">
    <div class="w3-card w3-center w3-margin-right w3-margin-bottom w3-col w3-round w3-mobile"
         style="display: table; width: 125px; height: 60px; background-color: white">
      <div class=""
           style="display: table-cell; vertical-align: middle">
        <img class="w3-row-padding"
             style="max-width: 125px; max-height: 60px;"
             src="/static/images/patreon-logo.png"
             alt="Telegram" />
      </div>
    </div>
  </a>
</div>
