<!--
/**
 * Copyright (C) 2019 KhronoSync Digital Solutions LLC
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <https://www.gnu.org/licenses/>
 */
-->
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Linux Delta</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
  <link rel="stylesheet" href="/static/css/w3.css">
  <link rel="stylesheet" href="/static/css/theme.css">
  <link rel="stylesheet" href="/static/css/style.css">
</head>

<body class="content">
{{template "header.html" .}}

<h1>Admin Login</h1>

{{if ne .ErrorMsg ""}}
  <div class="w3-panel w3-red">
    <p>{{.ErrorMsg}}</p>
  </div>
{{end}}
<form method="post" action="/login">
  <label for="name"><strong>Username</strong></label>
  <input type="text" id="name" name="name">
  <br />
  <label for="pass"><strong>Password</strong></label>
  <input type="password" id="pass" name="pass">
  <br />
  <button type="submit">Login</button>
</form>

</body>
</html>
